<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="6ef7d575-110f-4ac2-a241-fe8c943bbf90" created="3.8.0" activeEnvironment="Default environment" name="PPTS-1026_ES" resourceRoot="" updated="3.9.0" encryptionMode="Not encrypted" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config">
  <con:settings/>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>Environment</con:name>
      <con:value>Qa007</con:value>
    </con:property>
    <con:property>
      <con:name>EDCEnvironment</con:name>
      <con:value>QA2</con:value>
    </con:property>
    <con:property>
      <con:name>Interface</con:name>
      <con:value>111</con:value>
    </con:property>
    <con:property>
      <con:name>SwsimMCWInterface</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeInterface</con:name>
      <con:value>33</con:value>
    </con:property>
    <con:property>
      <con:name>CRTInterface</con:name>
      <con:value>15</con:value>
    </con:property>
    <con:property>
      <con:name>PIInterface</con:name>
      <con:value>16</con:value>
    </con:property>
    <con:property>
      <con:name>AmazonInterface</con:name>
      <con:value>3</con:value>
    </con:property>
    <con:property>
      <con:name>ManifestInterface</con:name>
      <con:value>5</con:value>
    </con:property>
    <con:property>
      <con:name>StoreInterface</con:name>
      <con:value>17</con:value>
    </con:property>
    <con:property>
      <con:name>AddressServiceInterface</con:name>
      <con:value>2</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeReportInterface</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeRefundInterface</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeRegistrationInterface</con:name>
      <con:value>9</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeBatchInterface</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeAuditInterface</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeBIInterface</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeCRTInterface</con:name>
      <con:value>24</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeCSRInterface</con:name>
      <con:value>6</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeKioskInterface</con:name>
      <con:value>3</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeStoreInterface</con:name>
      <con:value>23</con:value>
    </con:property>
    <con:property>
      <con:name>AccountServiceInterface</con:name>
      <con:value>14</con:value>
    </con:property>
    <con:property>
      <con:name>PostalExServiceInterface</con:name>
      <con:value>7</con:value>
    </con:property>
    <con:property>
      <con:name>PostalExPackageIdentificationInterface</con:name>
      <con:value>11</con:value>
    </con:property>
    <con:property>
      <con:name>PostalExPrintInterface</con:name>
      <con:value>23</con:value>
    </con:property>
    <con:property>
      <con:name>Username</con:name>
      <con:value>RegressionUser</con:value>
    </con:property>
    <con:property>
      <con:name>Password</con:name>
      <con:value>password1</con:value>
    </con:property>
    <con:property>
      <con:name>RS1Username</con:name>
      <con:value>RegressionRS1</con:value>
    </con:property>
    <con:property>
      <con:name>RS1Password</con:name>
      <con:value>password1</con:value>
    </con:property>
    <con:property>
      <con:name>RS2Username</con:name>
      <con:value>RegressionRS2</con:value>
    </con:property>
    <con:property>
      <con:name>RS2Password</con:name>
      <con:value>password1</con:value>
    </con:property>
    <con:property>
      <con:name>DMCUsername</con:name>
      <con:value>RegressionDMC</con:value>
    </con:property>
    <con:property>
      <con:name>DMCPassword</con:name>
      <con:value>password1</con:value>
    </con:property>
    <con:property>
      <con:name>IntegrationID</con:name>
      <con:value>C27D7CDC-076E-4D62-98AA-AE45BF9B4B96</con:value>
    </con:property>
    <con:property>
      <con:name>HPIntegrationID</con:name>
      <con:value>38CE3777-4A6F-462E-A3CB-95A4E234D29A</con:value>
    </con:property>
    <con:property>
      <con:name>RS1IntegrationID</con:name>
      <con:value>2D8A1C65-BCFA-476E-A344-6832160F692E</con:value>
    </con:property>
    <con:property>
      <con:name>RS2IntegrationID</con:name>
      <con:value>C27D7CDC-076E-4D62-98AA-AE45BF9B4B96</con:value>
    </con:property>
    <con:property>
      <con:name>IBMIntegrationID</con:name>
      <con:value>9D143AD9-DE42-4A67-8D05-6B714CAf5E04</con:value>
    </con:property>
    <con:property>
      <con:name>ShipStationID</con:name>
      <con:value>88F8BA27-2FBC-4601-A055-E4BAA7BBDBFB</con:value>
    </con:property>
    <con:property>
      <con:name>WebPostageID</con:name>
      <con:value>F870E07C-569C-43C8-AD77-FCE3D33D5CDB</con:value>
    </con:property>
    <con:property>
      <con:name>WinClientID</con:name>
      <con:value>DE66F28D-D57F-49DA-B950-2B6A44086EBF</con:value>
    </con:property>
    <con:property>
      <con:name>ShipworksID</con:name>
      <con:value>F784C8BC-9CAD-4DAF-B320-6F9F86090032</con:value>
    </con:property>
    <con:property>
      <con:name>EDCDefaultIntegrationID</con:name>
      <con:value>6183BA0E-9504-4D05-8C4E-F4F86C0AC0B7</con:value>
    </con:property>
    <con:property>
      <con:name>Convert2SASPromo</con:name>
      <con:value>pluto8936</con:value>
    </con:property>
    <con:property>
      <con:name>Convert2DMCPromo</con:name>
      <con:value>SbeprFNF-QZPPbairefvba</con:value>
    </con:property>
    <con:property>
      <con:name>FaultStringNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2008/02/stamps/fault</con:value>
    </con:property>
    <con:property>
      <con:name>QADBServer</con:name>
      <con:value>qa01db.corp.stamps.com</con:value>
    </con:property>
    <con:property>
      <con:name>ResultFilePath</con:name>
      <con:value>C:\temp\</con:value>
    </con:property>
    <con:property>
      <con:name>QAAutomateEndpoint</con:name>
      <con:value>http://qa-automate01-v.corp.stamps.com</con:value>
    </con:property>
    <con:property>
      <con:name>QASandBoxEndpoint</con:name>
      <con:value>http://qa-automate02-v.corp.stamps.com</con:value>
    </con:property>
    <con:property>
      <con:name>Priority</con:name>
      <con:value>High</con:value>
    </con:property>
    <con:property>
      <con:name>Regression</con:name>
      <con:value>False</con:value>
    </con:property>
    <con:property>
      <con:name>SlackChannel</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>SWSIMDBServer</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>SWSIM2DBServer</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>BRIDGEDBServer</con:name>
      <con:value>vbridgedb-ls01.qa02.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>BRIDGE2DBServer</con:name>
      <con:value>vbridgedb-ls21.qa02.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>POSTALDBServer</con:name>
      <con:value>vpostaladb-ls01.qa007.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>POSTBDBServer</con:name>
      <con:value>vpostalbdb-ls01.qa02.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>POSTAL2DBServer</con:name>
      <con:value>vpostaldb-ls21.qa02.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>PAYMENTDBServer</con:name>
      <con:value>vsdc11db-ls01.qa02.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>STAMPMARTDBServer</con:name>
      <con:value>vsdc11db-ls01.qa02.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>ORDBServer</con:name>
      <con:value>vor13db-ls01.qa02.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>CSSDBServer</con:name>
      <con:value>vsdc11db-ls01.qa02.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>RESELLERDBServer</con:name>
      <con:value>vbridgedb-ls01.qa02.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>EMAILDBServer</con:name>
      <con:value>vsdc11db-ls01.qa02.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>PMCDBServer</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>SWSDBServer</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>RedDBServer</con:name>
      <con:value>qa-clientdb07-v</con:value>
    </con:property>
    <con:property>
      <con:name>VPO1DBServer</con:name>
      <con:value>QA2DB.DEV.PSISYSTEMS.LOCAL</con:value>
    </con:property>
    <con:property>
      <con:name>BALANCEDBServer</con:name>
      <con:value>vbalancedb-ls01.qa02.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>ServiceEndpoint</con:name>
      <con:value>https://swsim.qa007.aws.local/swsim/swsimv111.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>Provider22Enpoint</con:name>
      <con:value>http://provider022.qa02.aws.local/</con:value>
    </con:property>
    <con:property>
      <con:name>Provider23Endpoint</con:name>
      <con:value>http://provider023.qa02.aws.local/</con:value>
    </con:property>
    <con:property>
      <con:name>IBMEndpoint</con:name>
      <con:value>https://ibm.qacc.stamps.com/swsim/swsimv21.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>SwsimMCWEndpoint</con:name>
      <con:value>https://swsim.qacc.stamps.com/swsim/MultiCarrierWalletV01.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeServiceEndpoint</con:name>
      <con:value>https://postage.qacc.stamps.com/bridge/bridgev33.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>PIServiceEndpoint</con:name>
      <con:value>http://pi.qacc.stamps.com/PackageIdentification/PackageIdentificationV16.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>SiteServiceEndpoint</con:name>
      <con:value>http://qa-clientsite:82</con:value>
    </con:property>
    <con:property>
      <con:name>AmazonServiceEndpoint</con:name>
      <con:value>amazonv3.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>ManifestServiceEndpoint</con:name>
      <con:value>http://ams.qacc.stamps.com/Manifest-and-Rating/manifestandratingv5.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>StoreServiceEndpoint</con:name>
      <con:value>https://postage.qacc.stamps.com/bridge/storev17.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>AddressServiceEndpoint</con:name>
      <con:value>https://ams.qacc.stamps.com/addressservice/addressservicev2.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>CRTServiceEndpoint</con:name>
      <con:value>https://CRTSERVICE.qa02.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeReportServiceEndpoint</con:name>
      <con:value>https://postage.qacc.stamps.com/bridge/reportv1.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeRefundServiceEndpoint</con:name>
      <con:value>https://postage.qacc.stamps.com/bridge/refundv1.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeRegistrationServiceEndpoint</con:name>
      <con:value>https://postage.qacc.stamps.com/bridge/registrationv9.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeAuditServiceEndpoint</con:name>
      <con:value>https://postage.qacc.stamps.com/bridge/auditv1.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeBatchServiceEndpoint</con:name>
      <con:value>https://postage.qacc.stamps.com/bridge/batchv1.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeBIEndpoint</con:name>
      <con:value>https://postage.qacc.stamps.com/bridge/businessintelligencev1.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeCRTEndpoint</con:name>
      <con:value>https://postage.qacc.stamps.com/bridge/crtv24.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeCSREndpoint</con:name>
      <con:value>https://postage.qacc.stamps.com/bridge/csrv6.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeKioskEndpoint</con:name>
      <con:value>https://postage.qacc.stamps.com/bridge/kioskv3.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeStoreEndpoint</con:name>
      <con:value>https://postage.qacc.stamps.com/bridge/storev23.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>WebhooksEndpoint</con:name>
      <con:value>https://api.qacc.stamps.com</con:value>
    </con:property>
    <con:property>
      <con:name>EDCLabelServiceEndpoint</con:name>
      <con:value>https://NASJCQAELS02.dev.psisystems.local/LabelService/EwsLabelService.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>EDCInternalServiceEndpoint</con:name>
      <con:value>https://NASJCQAELS02.dev.psisystems.local/LabelService/InternalService.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>EDCMonacoServiceEndpoint</con:name>
      <con:value>https://NASJCQAELS02.dev.psisystems.local/LabelService/MonacoService.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>EDCGingerServiceEndpoint</con:name>
      <con:value>http://endiciaservices.qa2.endicia.com/Endicia.Backend/AccountService.svc</con:value>
    </con:property>
    <con:property>
      <con:name>EDCDymoStampsServiceEndpoint</con:name>
      <con:value>https://nasjcqaels02.dev.psisystems.local/LabelService/DymoStampsService.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>EDCAccountInfoServiceEndpoint</con:name>
      <con:value>https://nasjcqaels02.dev.psisystems.local/LabelService/AccountInformationService.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>SWSIMStoreAPIEndpoint</con:name>
      <con:value>https://swsim.qacc.stamps.com</con:value>
    </con:property>
    <con:property>
      <con:name>BalanceEndpoint</con:name>
      <con:value>https://balance.qa02.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>AccountServiceEndpoint</con:name>
      <con:value>http://acs.qacc.stamps.com/AccountService/AccountServiceV14.svc</con:value>
    </con:property>
    <con:property>
      <con:name>PostalExServiceEndpoint</con:name>
      <con:value>http://postalx.qacc.stamps.com/PostalExWebService/PostalExV7.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>PostalExPackageIdentificationEndpoint</con:name>
      <con:value>http://postalx.qacc.stamps.com/PostalExWebService/PackageIdentificationV11.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>PostalExPrintEndpoint</con:name>
      <con:value>http://postalx.qacc.stamps.com/PostalExWebService/PrintV23.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>AMSEndpoint</con:name>
      <con:value>http://ams.qacc.stamps.com</con:value>
    </con:property>
    <con:property>
      <con:name>EaganEndpoint</con:name>
      <con:value>https://eagan.qa02.aws.local/Eagan/Service.asmx</con:value>
    </con:property>
    <con:property>
      <con:name>EmailServiceEndpoint</con:name>
      <con:value>https://emailservice.qa02.aws.local</con:value>
    </con:property>
    <con:property>
      <con:name>Namespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2021/01/swsim/SwsimV111</con:value>
    </con:property>
    <con:property>
      <con:name>SwsimMCWNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2018/06/SWSIM/MultiCarrierWalletV01</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2019/08/bridge/bridgev33</con:value>
    </con:property>
    <con:property>
      <con:name>CRTNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2016/06/bridge/crtv15</con:value>
    </con:property>
    <con:property>
      <con:name>PINamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2016/06/PackageIdentification/PackageIdentificationV16</con:value>
    </con:property>
    <con:property>
      <con:name>AmazonNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2012/3/sws/ShippingLabelv3</con:value>
    </con:property>
    <con:property>
      <con:name>ManifestNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2016/07/manifestandrating/ManifestAndRatingV5</con:value>
    </con:property>
    <con:property>
      <con:name>StoreNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2016/06/bridge/storev17</con:value>
    </con:property>
    <con:property>
      <con:name>AddressServiceNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2014/03/addressservicev2</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeReportNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2007/08/bridge/reportv1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeRefundNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2014/06/bridge/refundv1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeRegistrationNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2016/03/bridge/registrationv9</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeAuditNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2009/07/bridge/auditv1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeBatchNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2009/06/bridge/batch1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeBINamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2014/06/bridge/businessintelligencev1</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeCSRNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2018/10/bridge/csrv6</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeCTRNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2017/04/bridge/crtv24</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeKioskNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2009/03/bridge/kioskv3</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeStoreNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2018/10/bridge/storev23</con:value>
    </con:property>
    <con:property>
      <con:name>AccountServiceNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2020/03/accountservice/accountservicev14</con:value>
    </con:property>
    <con:property>
      <con:name>PostalExServiceNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2019/06/server/postalex/postalexv7</con:value>
    </con:property>
    <con:property>
      <con:name>PostalExPackageIdentificationNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2020/04/postalex/packageidentificationv11</con:value>
    </con:property>
    <con:property>
      <con:name>PostalExPrintNamespace</con:name>
      <con:value>http://stamps.com/xml/namespace/2020/07/server/postalex/PrintV23</con:value>
    </con:property>
    <con:property>
      <con:name>AddOnVersionText</con:name>
      <con:value>AddOnV15</con:value>
    </con:property>
    <con:property>
      <con:name>NetStampsVersionText</con:name>
      <con:value>NetStampV28</con:value>
    </con:property>
    <con:property>
      <con:name>MailingLabelVersionText</con:name>
      <con:value>IndiciumInfoV25</con:value>
    </con:property>
    <con:property>
      <con:name>ShipmentFieldVersionText</con:name>
      <con:value>ShipmentFieldV2</con:value>
    </con:property>
    <con:property>
      <con:name>SurchargeVersionText</con:name>
      <con:value>SurchargeV2</con:value>
    </con:property>
    <con:property>
      <con:name>IntegratorTxID</con:name>
      <con:value>${=java.util.UUID.randomUUID()}</con:value>
    </con:property>
    <con:property>
      <con:name>ShipDate</con:name>
      <con:value>${=java.time.LocalDateTime.now().format(java.time.format.DateTimeFormatter.ISO_LOCAL_DATE)}</con:value>
    </con:property>
    <con:property>
      <con:name>BridgeShipDate</con:name>
      <con:value>${=java.time.LocalDateTime.now().withNano(0)}</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailProjectName</con:name>
      <con:value>z_QA Server Sandbox</con:value>
    </con:property>
    <con:property>
      <con:name>TestRailUpdateResultBatchSize</con:name>
      <con:value>1000</con:value>
    </con:property>
    <con:property>
      <con:name>RunId</con:name>
      <con:value/>
    </con:property>
  </con:properties>
  <con:afterLoadScript>new soapUIProperties.setProperties(project)</con:afterLoadScript>
  <con:wssContainer/>
  <con:databaseConnectionContainer/>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:reporting/>
  <con:eventHandlers type="RequestFilter.filterRequest" name="RequestFilter.filterRequest">
    <con:script>// Sample event script to add custom HTTP header to all outgoing REST, SOAP and HTTP(S) calls
// This code is often used for adding custom authentication to ReadyAPI functional tests

// If hardcoding the token, uncomment and change line 5
// token = '4567'

// If your token is parameterized in Project level custom property, uncomment line 8
// token = request.parent.testCase.testSuite.project.getProperty('auth_token').getValue()

// To modify all outgoing calls, remove comments from lines 11 to 16
// headers = request.requestHeaders
// if (headers.containsKey('auth_token2') == false) {
//   headers.put('auth_token2', token)
//   request.requestHeaders = headers
// }</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="TestRunListener.afterStep" name="TestRunListener.afterStep">
    <con:script>// Save all test step results into files
// Change the directory path in line 5 to a location where you want to store details
// then uncomment lines 5 to 10

// filePath = 'C:\\tempOutputDirectory\\'
// fos = new java.io.FileOutputStream(filePath + testStepResult.testStep.label + '.txt', true)
// pw = new java.io.PrintWriter(fos)
// testStepResult.writeTo(pw)
// pw.close()
// fos.close()</con:script>
  </con:eventHandlers>
  <con:authRepository/>
  <con:tags/>
</con:soapui-project>
