<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="fa0baead-f02c-438d-8fb0-512994145978" name="ElasticSearch" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="fa0baead-f02c-438d-8fb0-512994145978fileName">ElasticSearch</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
